
@media (min-width: 768px){

nav ul{
display:flex !important;
gap:1rem;
}

#menuBtn{
display:none;
}

#members.grid{
grid-template-columns:repeat(3,1fr);
}

#members.list{
display:block;
}

#members.list .card{
display:flex;
gap:1rem;
align-items:center;
}

}
